<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../styles/style.css">
		<title>
		my first project
		</title>
	</head>
<body>
		<div class = "main">
		<img src = "../images/square.png" div class="square">
		</img>
		</div>
		<div class = "color-text">
			<p>
			<h3>
			About me
			</h3>
		</div>
		<div class = "not color text">
			<p>
			I'm John Watson Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
			<br> 
			eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			<br>
			quis nostrud exercitation ullamco laboris nisi ut allquip ex ea commodo consequat.
		</div>
		</div>
</body>
